{ margin: 0; padding: 0; }

html { 
        background: url("http://im48.gulfup.com/8SOlVE.jpg") no-repeat center center fixed; 
		
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		background-color:#CCFFFF;
		font-family:arial;
}
.center{text-align: center;}
.clearfix{
clear:both;
}
body{
	margin:0 auto;
	width:900px;
	color:white;
}
body, header{margin-top:0px;}
main{
	padding-top:40px;
	display:table-cell;
	vertical-align:middle;font-size:20px;
	height:100%;
}
section{ width:70%;
padding-left:50px;}
h1{
	font-size:30px;
	font-family:arial;
	padding-top:50px;
}
ul{
	padding-top:200px;
	display:table;}
ul li {
font-size:25px;
padding:100px;
display:inline;
}
h1,a{text-shadow: 1px 0px 0px gray;
text-shadow-blend-mode: multiply;
}
a{
	padding-top:170px;
}
ul li:nth-child(1) a{
	background:url("http://im48.gulfup.com/OmVeZL.png") no-repeat center center;
}
ul li:nth-child(2) a{
	background:url("http://im48.gulfup.com/AoIb58.png") no-repeat center center;
}
ul li:nth-child(3) a{
	background:url("http://im48.gulfup.com/KUuo6R.png") no-repeat center center;
}

a:link {
    text-decoration: none;
	color: white;
}

a:visited {
    text-decoration: none;
	color: white;
}
/*h2 span{color:#c64499;}*/
a:active {
    text-decoration: none;
	color: white;
}
footer{background:rgba(255, 255, 255, .2);
	border-radius:5px;
	padding:10px;
	position: absolute;
	width:900px;
    bottom: 0;
	margin-left:10px;
	margin-bottom:10px;
	}
	
