<meta charset="utf-8">
<title>{{ page.title }}</title></head>
<link rel="stylesheet" href="css/main.css">
<body>
<div class="width-small">
<header class="block">
	<div class="center">
	   <img  src="logo.jpg">
	</div>
	<nav>
		<header hidden>
		<h2>navigation menu</h2>
		</header>
		<ul>
		
		<div class="left"><li><a href="">About</a></li>
		<li><a href="">work</a></li></div>
		<div class="right">
		<li><a href="">Blog</a></li>
		<li><a href="">Contact</a></li>
		</div>
		</h1>
	</nav>
<div class="clearfix"></div>
</header>

<main role="main"">

<section>


{{ content }}

</section>

</main>
<aside>
</aside>
</div>
</body>
<footer>
<div class="width-small">
<div class="left">

<nav>
		<header hidden>
		<h2>navigation menu</h2>
		</header>
		<ul>
		<li><span><a href="">About</a></span></li>
		<li><a href="">work</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">Contact</a></li>
		</h1>
	</nav>
	</div>
	<div class="center description">
	This responsive web site has been designed, developed, and maintained by Heba Samy. 
	It’s built with wordpress, optimised for a fast page load, hosted on AWS and served via CloudFront. 
	Current Average load is 0.4s.
	</div>
	<div class="clearfix"></div>
	
<div class="small-text">© 2015 - Heba Samy</div>
</div>
</footer>
</html>
